@media screen and (max-width: 320px) {

    .flexcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .child {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        

    }

    
    

    .searchbar {
        display: flex;
        align-content: center;
    }
}

body {
    margin-right: 100px;
    margin-left: 100px;
}

.flexcontainer{
    display: flex;
    flex-wrap: wrap;
    background-color: green;
    height: 600px;
    justify-content: space-between;

    .child{
        background-color: red;
        
        
    }
    
}



.container {
    display: flex;
    justify-content: center;
}


