@media screen and (max-width: 320px) {
    .testbutton {
        display: none;
    }

    .pagetitle {
        display: none;
    }
}

.flexcontainer{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 10rem;
    flex-wrap: wrap;
    width: 500px;
    

}



.nav {
    background-color: lightblue;
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 40%;

}